body{

font-family:Arial;

background:#f5f5f5;

}

.container{

width:70%;

margin:auto;

margin-top:40px;

background:white;

padding:30px;

border-radius:10px;

box-shadow:0px 0px 10px gray;

}

h1{

color:#2E86C1;

}

input[type=file]{

margin:20px;

}

input[type=submit]{

padding:10px 20px;

background:#2E86C1;

color:white;

border:none;

cursor:pointer;

}

ul{

line-height:30px;

}